
@{
    ViewBag.Title = "AguardandoConfirmacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bem vindo ao fórum ByteBank</h2>
<p> Por favor, verifique sua caixa de entrada para confirmar o seu email!</p>
