@model ByteBank.Forum.ViewModels.ContaRegistrarViewModel

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrar</h2>

@using (Html.BeginForm())
{
    <h4> Complete o cadastro de sua conta! </h4>
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" } )

    @Html.EditorForModel()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Registrar" class="btn btn-default" />
        </div>
    </div>

}

